<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<nav>
    <h3 style="text-align:center">The Thunderdome</h3>
    <ul>
        <li><a href="{{ url_for('bracket.home') }}">The Thunderdome</a>
        <li><a href="{{ url_for('bracket.standings') }}">Current Standings</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
